<h1>All events</h1>
<p><%= link_to 'Add new event', new_event_path %></p>
 <% unless @events.present? %>
 	<h2>No events yet</h2>
 <% else %>
 	Have some event for you...
 <% end %>
<%= link_to 'Back', :back %>